@model List<BlogEngine.Web.ViewModels.TagViewModel>

<div class="widget tags">
    <header>
        <h3 class="h6">Tags</h3>
    </header>
    <ul class="list-inline">
        @foreach (var tag in Model)
        {
            <li class="list-inline-item"><a asp-page="/Tag" asp-route-Id="@tag.Id" class="tag">#@tag.Name.ToUpper()</a></li>
        }
    </ul>
</div>