@using BlogEngine.Web.ViewModels
@using BlogEngine.Web.ViewComponents
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Velo Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/fontastic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/lib/@@fancyapps/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <header class="header">
        <!-- Main Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="search-area">
                <div class="search-area-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn"><i class="icon-close"></i></div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8">
                            <form action="#">
                                <div class="form-group">
                                    <input type="search" name="search" id="search" placeholder="What are you looking for?">
                                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Navbar Brand -->
                <div class="navbar-header d-flex align-items-center justify-content-between">
                    <!-- Navbar Brand --><a class="navbar-brand" asp-page="/Index">Velo Blog</a>
                    <!-- Toggle Button-->
                    <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
                </div>
                <!-- Navbar Menu -->
                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Contact">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
                    <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()

    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <h6 class="text-white">Velo Blog</h6>
                    </div>
                    <div class="contact-details">
                        <p>Phone: (084) 905 096 289</p>
                        <p>Email: <a href="nhatbao@gmail.com">nhatbao@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="menus d-flex">
                        <ul class="list-unstyled">
                            <li><a asp-page="/Index">Home</a></li>
                            <li><a asp-page="/Blog">Blog</a></li>
                            <li><a asp-page="/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    @await Component.InvokeAsync(nameof(LatestPostsWidget), ViewMode.Tiny)
                </div>
            </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2021. All rights reserved. Velo Blog.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            Template By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">Bootstrapious</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.timeago.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/lib/@@fancyapps/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/js/front.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
